<%= stylesheet_link_tag 'customers' %>
  <div class="container-fluid maxWidth">
    <h1 class"newly_arrived_title">新着一覧</h1>
    <div class="row">
      <div class="newly_arrived_left">
      </div>
      <div class="newly_arrived_illustrations">
    <%= render 'public/illustrations/index',illustrations: @illustrations %>
      </div>
      <div class="newly_arrived_right">
      </div>
  </div>
  </div>