<div class="search_friend_by_categorize"></div>
<div class="uk-text-secondary uk-text-bold"></div>
<h4>タグで探す</h4>
<div class="uk-flex uk-flex-wrap"></div>
<% @tag_lists.each do |list| %>
<div>
  <%= link_to list.tag_name, tag_index_path(tag_id: list.id), class: 'tag_list' %>
</div>
<% end %>

<p class="tag_list_box">
  
  
</p>